#patient-conteiner
{
height:100%;
width:100%;
}
/*
#patient-body
{
  
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: auto;
}
*/