.visit
{
    background-color: #8ed1fc;
    text-align: center;
    width: 99%;
    border: 1px solid black;
    border-radius: 50px 50px;
}
/*
nieb
#8ed1fc
#02a0e0

ziel
#14d697

czerw
#cf2e2e

pom
#ff6900

szary
#a9b8c3
*/